* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

p{
  margin-bottom: 10px;
}

a{
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li{
  display: inline;
  font-weight: 400;
  vertical-align: middle;
  line-height: 25px;
}

.navbar {
  background-color: #5DC9F3;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 15px;
}

.sidebar {
  display: inline-block;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
  height: 100%;
  z-index: -1;
  background-color: #5DC9F3;
  overflow-x: hidden;
  padding: 10px 0px;
}

.sidebar a {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.buttonAdmin{
  background-color: #0A94DA;
  display: block;
  padding: 20px;
  transition: 500ms;
  margin-bottom: 5%;
}

.buttonCliente{
  margin-top: 5%;
  background-color: #0A94DA;
  display: block;
  padding: 20px;
  transition: 500ms;
}

.buttonAdmin:hover{
  background-color: rgb(10, 161, 236);
}

.headerLogo{
  text-align: center;
  margin-bottom: 20px;
}

.logo{
  width: 90%;
}

.navIcon{
  float: left;
}

.navSearch{
  float: right;
  margin-right: 0.5rem;
  transition: 900ms;
}

.barsMenu{
  height: 39px;
  color: #21488B;
  font-size: 35px;
}

.wrapper {
  display: inline-block;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  margin-left: 0rem;
  font-size: 28px;
  z-index: 2;
  transition: 900ms;
  background: white;
  width: 100% ;
}

.content {
  padding: 70px 15px;
  min-height: 100vh;
}

.fa-bars {
  cursor: pointer;
}

.allContent {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
}

.buttonAdmin h2{
  font-size: 25px;
}

input[type="search"]{
  padding: 10px;
  border-radius: 10px;
}

input[type="search"]::placeholder{
  font-weight: 600;
  font-size: 15px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 98vw;
  transition: 900ms;
}

td, th {
  text-align: center;
  padding: 20px;
}

tr:nth-child(1) {
  background-color: #76B9FC !important;
}

tr:nth-child(even) {
  background-color: #C1EBFD;
}

tr:nth-child(2n+1) {
  background-color: #A3DEF8;
}