div.content {
  display: grid;
  grid-template-columns: 50% 50%;
}

div#bloco-azul {
  background-color: #8bd7f7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div#bloco-azul div.bloco-img h1 {
  color: white;
  font-weight: bold;
  font-size: 4em;
}

div#bloco-branco {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#bloco-branco .form legend {
  font-weight: bold;
  color: #022564;
  font-size: 3em;
}

div#bloco-branco .form p {
  color: #022564;
  margin-bottom: 0;
  font-size: 1.8em;
}

div#bloco-branco .form input[type="email"],
div#bloco-branco .form input[type="password"] {
  width: 30vw;
  border: 1.5px solid #022564;
  border-radius: 5px;
  padding: 10px 20px;
  color: #022564;
  background-color: #ecf3fe;
  margin-bottom: 3%;
}

div#bloco-branco .form input[type="password"] {
  margin-bottom: 10%;
}

::placeholder {
  color: #022564;
}

button {
  border-radius: 5px;
  border: none;
  background-color: #4e72af;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 25px;
}

button:hover {
  background-color: #3c5e9b;
}